@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("F:\Festival-pub\Festival-pub\react\heba-festival\public\fonts\AnyConv.com__Pretendard-Black.eot")
    format("eot");
}

@font-face {
  font-family: "Pretendardbold";
  font-style: normal;
  src: url("F:\Festival-pub\Festival-pub\react\heba-festival\public\fonts\AnyConv.com__Pretendard-Bold.eot")
    format("eot");
}
